body{
    margin: 0;
    padding: 0;
    background-color: rgb(186, 204, 219);
}

header {
    background: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
}

nav ul {
    display: flex; 
    justify-content: center; 
    gap: 24px; 
    list-style: none; 
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    
}

nav ul li a:hover{
    color: grey;
}

.logo{
    max-width: 50px;
    padding-right: 15px;
}

.container-principal {
    background-color: rgb(186, 204, 219);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; 
    padding-bottom: 60px;
    padding-top: 100px;
}

.container-principal img {
    width: 55%;             
    height: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    
}

.container-principal p {
    width: 55%;
    height: auto;
    margin: 20px 0;
}

footer {
    color: white;
    background-color: black;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
    padding-top: 80px;
    padding-bottom: 80px;
}
.gallery-items{
    width: 340px;
    height: 340px;
    border: 10px solid #FFF;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .5s linear;
}
.gallery-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.informaçoes {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
}

.teste-container {
    padding-top: 100px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: rgb(186, 204, 219);
}

.interior-caminhao img {
    width: 75%;
}